---
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: None
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignConsecutiveShortCaseStatements:
    Enabled: false
AlignEscapedNewlines: Right
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
AllowShortRecordOnASingleLine: Empty
AlwaysBreakBeforeMultilineStrings: false
AttributeMacros:
    - ALCH_ADDON_API
    - LL_COMMON_API
    - LLSYMEXPORT
BasedOnStyle: LLVM
BinPackLongBracedList: true
BitFieldColonSpacing: Both
BreakAfterAttributes: Never
BreakAfterOpenBracketBracedList: false
BreakAfterOpenBracketFunction: false
BreakAfterOpenBracketIf: false
BreakAfterOpenBracketLoop: false
BreakAfterOpenBracketSwitch: false
BreakAfterReturnType: Automatic
BreakArrays: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
BreakBeforeConceptDeclarations: Allowed
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTemplateCloser: false
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
BreakConstructorInitializers: BeforeComma
BreakFunctionDefinitionParameters: false
BreakStringLiterals: true
BreakTemplateDeclarations: MultiLine
ColumnLimit: 140
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: FunctionCall
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: LogicalBlock
EnumTrailingComma: Leave
FixNamespaceComments: true
ForEachMacros:
    - BOOST_FOREACH
    - LL_FOREACH
    - LL_FOREACH_CONST
IncludeBlocks: Merge
IncludeCategories:
    - CaseSensitive: false
      Priority: -1
      Regex: '^"(\.\./)?(linden_common|llviewerprecompiledheaders)\.h"$'
      SortPriority: -1
    - CaseSensitive: false
      Priority: 2
      Regex: '^[<"](AL|EGL|GL|GLES2|OpenGL|SDL3|apr|avif|boost|curl|fast_float|fmt|fontconfig|freetype|fribidi|glad|glm|gst|hb|hunspell|libxml|meshoptimizer|minizip|openssl|plutosvg|pulse|simdjson|simdutf|spa|tiny_gltf|tracy|tut|unicode|websocketpp|yaml-cpp|zlib)(/|\.|[>"])'
      SortPriority: 2
    - CaseSensitive: false
      Priority: 1
      Regex: "^<"
      SortPriority: 1
    - CaseSensitive: false
      Priority: 3
      Regex: '^"'
      SortPriority: 3
    - CaseSensitive: false
      Priority: 4
      Regex: ".*"
      SortPriority: 4
IncludeIsMainRegex: "(Test)?$"
IncludeIsMainSourceRegex: ""
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExportBlock: true
IndentPPDirectives: None
IndentWidth: 4
InsertBraces: false
InsertNewlineAtEOF: true
KeepEmptyLines:
    AtEndOfFile: false
    AtStartOfBlock: true
    AtStartOfFile: true
Language: Cpp
LineEnding: LF
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PackConstructorInitializers: BinPack
PackArguments:
    BinPack: BinPack
PackParameters:
    BinPack: BinPack
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
PPIndentWidth: -1
ReferenceAlignment: Pointer
ReflowComments: Always
RemoveBracesLLVM: true
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: Leave
SeparateDefinitionBlocks: Leave
ShortNamespaceLines: 1
SortIncludes:
    Enabled: true
    IgnoreCase: false
    IgnoreExtension: false
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBraces: Never
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: c++20
StatementMacros:
    - llassert
    - llassert_always
    - llassert_always_msg
    - llassert_msg
    - llverify
    - LL_PROFILE_ZONE_SCOPED
    - LL_PROFILE_ZONE_NAMED
    - LL_PROFILE_ZONE_NUM
    - LL_PROFILE_ZONE_TEXT
    - LL_RECORD_BLOCK_TIME
TabWidth: 4
UseTab: Never
...
