button.compact {
    size: 32px;
    padding: 4px;
}

div.switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    > label { flex-grow: 1; }
}

p#languageHeading {
    text-color: var(--muted);
}

p#activeLocale {
    font-weight: bold;
}

div#languageButtons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

button.language {
    flex: 1;
}

div.demo-property-sections {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.demo-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px;
    border: 1px #ffffff24;
}

p.demo-section-heading {
    text-color: var(--muted);
    font-weight: bold;
}

p.demo-font {
    font: italic 525 15px / 21px sans;
}

p.demo-tracking {
    letter-spacing: 8%;
}

p.demo-word-spacing {
    word-spacing: 4px;
}

p.demo-wrap {
    text-wrap: wrap;
    padding: 4px;
    background-color: #ffffff0c;
    border-radius: 4px;
}

p.demo-ellipsis-end, p.demo-ellipsis-center {
    height: 22px;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 2px 4px;
    background-color: #ffffff0c;
    border: 1px #ffffff18;
    border-radius: 4px;
}

p.demo-ellipsis-end {
    text-overflow: ellipsis;
}

p.demo-ellipsis-center {
    text-overflow: ellipsis-center;
}

p.demo-outline {
    padding: 4px;
    background-color: #ffffff0c;
    border: 1px #ffffff24;
    border-radius: 4px;
    outline: 2px dashed var(--accent);
    outline-offset: 2px;
}

div.demo-overflow-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

div.demo-overflow-x, div.demo-overflow-y {
    height: 26px;
    flex: 1;
    background-color: #ffffff0c;
    border: 1px #ffffff24;
}

div.demo-overflow-x {
    overflow-x: hidden;
    overflow-y: visible;

    > p {
        text-wrap: nowrap;
    }
}

div.demo-overflow-y {
    display: flex;
    flex-direction: column;
    overflow: visible hidden;

    > p {
        text-wrap: wrap;
    }
}
